body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.documento {
    width: 200px;
    text-align: center;
}

.documento img {
    max-width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.documento p {
    margin: 0;
}

.carousel {
    max-width: 100%;
    margin: 0px;
    align-items: center;
}

.carousel-inner {
    max-width: 1000px;
    margin: 0 auto;
}

.carousel-item img {
    max-width: 100%;
    height: auto;
}