<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Aggiungi il link al file CSS di Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Visualizzatore Documenti</title>
</head>
<body>
    <div class="container">
        <h1>Visualizzatore Documenti</h1>

        <h2>Cartella: {{ codice_cartella }}</h2>

        <!-- Utilizza il sistema di griglia di Bootstrap per creare un layout flessibile -->
        <div class="row">
            {% for cartella in cartelle_pagina_corrente %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="{{ url_for('static', filename='documents/' + codice_cartella + '/' + cartella + '/01.jpg') }}" alt="Documento">
                        <div class="card-body">
                            <h5 class="card-title">{{ cartella }}</h5>
                            <a href="/visualizza/{{ codice_cartella }}/{{ cartella }}" class="btn btn-primary">Visualizza</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <!-- Aggiungi i controlli per la navigazione tra le pagine -->
		<nav aria-label="Navigazione pagine">
			<ul class="pagination">
				{% if pagina_corrente > 1 %}
					<li class="page-item">
						<a class="page-link" href="?pagina=1">1</a>
					</li>
					{% if pagina_corrente > 3 %}
						<li class="page-item disabled">
							<span class="page-link">...</span>
						</li>
					{% endif %}
				{% endif %}
				
				{% for pagina in range(pagina_corrente - 2, pagina_corrente + 3) %}
					{% if pagina >= 1 and pagina <= numero_pagine_totali %}
						<li class="page-item {% if pagina == pagina_corrente %}active{% endif %}">
							<a class="page-link" href="?pagina={{ pagina }}">{{ pagina }}</a>
						</li>
					{% endif %}
				{% endfor %}
				
				{% if pagina_corrente < numero_pagine_totali - 2 %}
					<li class="page-item disabled">
						<span class="page-link">...</span>
					</li>
					<li class="page-item">
						<a class="page-link" href="?pagina={{ numero_pagine_totali }}">{{ numero_pagine_totali }}</a>
					</li>
				{% endif %}
			</ul>
		</nav>
		
		
		
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <!-- Aggiungi il link al file JavaScript di Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
