<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Visualizza Documento</title>
    <!-- Includi jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Includi Slick Carousel CSS e JS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
	<style>
		.carousel {
			max-width: 100%;
			margin: 0px;
			align-items: center;
		}

		.carousel-inner {
            max-width: 1000px;
            margin: 0 auto;
        }

        .carousel-item img {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    <h1>Visualizza Documento</h1>

    <h2>Cartella: {{ codice_cartella }}</h2>
    <h3>Documento: {{ documento }}</h3>
    <p>Numero di pagine: {{ numero_pagine }}</p>

    <!-- Utilizza il carosello di Bootstrap per visualizzare le pagine del documento -->
    <div id="documento-carousel" class="carousel">
        <div class="carousel-inner" dir="rtl">
            {% for pagina in range(1, numero_pagine + 1) %}
                <div class="carousel-item">
                    <img class="d-block w-100" src="{{ url_for('static', filename='documents/' + codice_cartella + '/' + documento + '/' + "%02d" % pagina + '.jpg') }}" alt="Pagina {{ pagina }}">
                </div>
            {% endfor %}
        </div>
    </div>

    <p>Numero di pagine: {{ numero_pagine }}</p>

    <a href="/">Torna alla homepage</a>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <!-- Inizializza il carosello con JavaScript -->
    <script>
        $(document).ready(function(){
            $('.carousel-inner').slick({
                dots: true,
                autoplay: false,
				arrows: false,
    			rtl: true,
            });
        });
    </script>
</body>
</html>
